<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VSC Box</title>
    <style>
        .drop-box {
            width: 500px;
            min-height: 300px;
            cursor: pointer;
            border: 1px dashed gray;
        }

        .transparent {
            opacity: 0;
        }
    </style>
</head>

<body>
    <h3>请拖拽文件到下方区域</h3>
    <div id="container" class="drop-box">
        <span id="fileNameSpan"></span>
        <input type="file" class="drop-box transparent" onChange="dropedFile(this.value)" />
    </div>
    <script>
        const vscode = acquireVsCodeApi();

        function dropedFile(path) {
            if (path) {
                vscode.postMessage({
                    command: 'file',
                    path: path
                })
                fileNameSpan.innerText = path;
            }
        }
    </script>
</body>

</html>